@{
    ViewData["Title"] = "Operations";
}

<div>
    <h3><a asp-action="Balans">Balans</a></h3>
    <h3><a asp-action="WithdrawMoney">Withdraw money</a></h3>
    <h3><a asp-action="CardNumber">Exit</a></h3>
</div>
